style
    include style.css
    include three-dots.css
#loader-container
    .loader-overlay
    .loader
        div.dot-falling
            // dots classes

                dot-elastic
                dot-pulse
                dot-flashing
                dot-collision
                dot-revolution
                dot-carousel
                dot-typing
                dot-windmill
                dot-bricks
                dot-floating
                dot-fire
                dot-spin
                dot-falling
                dot-stretching
