doctype html
html(lang='en')
  head

    title Simulation
    style
      include style.css

    include partials/meta
    include partials/link
    include partials/style

  body
    // Navbar and Header
    //include partials/loader/loader
    #nav-container
    #main-container
    include partials/script
