//link(rel='icon', type='image/png', href='/static/img/favicon.png')
// Lato Font
link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
// Material Icons
//link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href="/static/bootstrap/css/bootstrap.min.css" , rel="stylesheet")
link(href="/css/blog-home.css" , rel="stylesheet")
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')