script(src='/static/js/jquery-3.4.1.min.js')
script(src='/static/js/materialize.min.js')
script(src='/static/js/underscore-min.js')
script(src='/static/js/backbone-min.js')
script(src='/static/jquery/jquery.min.js')
script(src='/static/bootstrap/js/bootstrap.bundle.min.js')
